@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
.darbar__main {
  margin: 0 auto;
  /* max-width: 1440px; */
  padding : 0 5vh ;
  width: 100%;
  box-sizing: border-box;
  background-size: contain;
  /* background-repeat: repeat; */
  background-position: center;
  background-attachment: fixed;
}

.title{
    width: 100%;
    font-family: "Orbitron", sans-serif;
    font-size: min(50px, 10vmin);
    text-shadow: 0 3px 5px #000000;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    color: #ed9340;
    margin-top: 7vh;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.content{
    font-family: "Roboto Mono", sans-serif;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    font-size: 20px;
    justify-content: center;
    line-height: 1.4;
    margin-bottom: 2vmin;
}

.darbar__body{
    backdrop-filter: blur(15px);
    padding : 30px;
}

.investor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}