@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

.caTitle_slide {
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gradient_first {
  position: absolute;
  bottom: -20vh;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(0, 15, 22, 0) 0%, #000F16 50.5%, rgba(0, 15, 22, 0) 100%);
  pointer-events: none;
  z-index: 2;
}

.overLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.692);
}


.ca-title-main {
  font-family: 'Metal Mania', cursive;
  margin-top: 5%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-campus {
  font-size: 22vh;
  line-height: 1;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  color: transparent;
}

.title-ambassador {
  font-size: 22vh;
  line-height: 1;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: 0px 0px;
  color: transparent;
}

.caDetails {
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.ca_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  position: relative;
  margin-top: 100px;
  z-index: 5;
}

.ca_image {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.ca-info-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
  margin-top: 100px;
}

.ca-info-container img {
  width: 30%;
}

.ca_blocks {
  display: flex;
  flex-direction: column;
}

.ca_description {
  display: flex;
}

.no_margin {
  font-family: 'Metal Mania', cursive;
  background: linear-gradient(98.79deg, #44A7C8 7.18%, #75D58E 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.selected_p {
  font-family: 'Changa', sans-serif;
  background: linear-gradient(98.79deg, #44A7C8 7.18%, #75D58E 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px;
  text-align: justify;
}

.olive_tree {
  text-align: center;
}

.ca-incentives {
  margin-top: 8vh;
}

.incentives_body {
  display: flex;
  margin-top: 4vh;
  padding: 0px 40px;
}

.incentives_body p {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
}

.incentive_title {
  text-align: center;
  font-family: 'Metal Mania', cursive;
  background: linear-gradient(98.79deg, #44A7C8 7.18%, #75D58E 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 2px;
}

.silver_incentives,
.gold_incentives {
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.gold_incentives p {
  font-family: 'Skranji', cursive;
  font-size: 38px;
  line-height: 1;
  background: linear-gradient(175.12deg, #070033 3.91%, #003B7A 96.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: luminosity;
}

.silver_incentives p {
  font-family: 'Skranji', cursive;
  font-size: 38px;
  line-height: 1;
  background: linear-gradient(175.12deg, #070033 3.91%, #003B7A 96.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: luminosity;
}

.silver {
  margin-top: -18px;
}

.reg_With_Acco {
  text-align: center;
  font-family: 'Changa', sans-serif;
  font-size: 24px;
}

.ambassador_benefits {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.ambassador_benefits p {
  font-family: 'Changa', sans-serif;
  font-size: 24px;
}

.silver_brief {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.registrationSection {
  margin-top: 8vh;
}

.ca-registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.ca-registration h1 {
  font-family: 'Metal Mania', cursive;
  background: linear-gradient(98.79deg, #44A7C8 7.18%, #75D58E 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  letter-spacing: 1px;
}

.ca-registration h2 {
  font-family: 'Changa', sans-serif;
  background: linear-gradient(98.79deg, #44A7C8 7.18%, #75D58E 92.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 25px;
  margin-top: 1vh;
  text-align: center;
}

.ca-registration button {
  font-size: 25px;
  margin-top: 2vh;
  font-family: 'Changa', sans-serif;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 20px 8px 20px;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
  border: 2px solid rgba(70, 198, 160, 1)
}

@media (max-width: 1200px) {

  .title-campus,
  .title-ambassador {
    font-size: 18vw;
  }
}

@media (max-width: 768px) {

  .title-ambassador,
  .title-campus {
    font-size: 16vw;
  }
}

@media (max-width: 480px) {

  .title-ambassador,
  .title-campus {
    font-size: 16vw;
  }
}

@media (max-width: 1200px) {

  .gold_incentives p,
  .silver_incentives p {
    font-size: 3vw;
  }

  .silver_incentives,
  .gold_incentives {
    height: 180px;
  }

}

@media (max-width: 1024px) {

  .gold_incentives p,
  .silver_incentives p {
    font-size: 3vw;
  }

  .silver_incentives,
  .gold_incentives {
    height: 180px;
  }

}

@media (max-width: 1023px) {

  .gold_incentives p,
  .silver_incentives p {
    font-size: 5vw;
  }

  .silver_incentives,
  .gold_incentives {
    height: 210px;
  }

}


@media (max-width: 768px) {

  .gold_incentives p,
  .silver_incentives p {
    font-size: 5vw;
  }
}

@media (max-width: 480px) {

  .gold_incentives p,
  .silver_incentives p {
    font-size: 5vw;
  }


  .reg_With_Acco {
    text-align: center;
    font-family: 'Changa', sans-serif;
    font-size: 3.2vw;
    margin-top: -6vh;
  }

  .ambassador_benefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
  }

  .ambassador_benefits p {
    font-family: 'Changa', sans-serif;
    font-size: 3.9vw;
  }
}

@media (min-width: 1024px) {
  .selected_p {
    margin-top: -100px;
  }
}

@media (min-width: 320px) {
  .ca_blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .olive_tree {
    width: 400px;
  }

  .ca_image {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .incentives_body {
    flex-direction: column;
    gap: 60px;
  }

  .silver_brief {
    gap: 2px;
    align-items: start;
  }
}

@media (min-width: 768px) {
  .ambassador_benefits {
    justify-content: center;
  }

  .ca-info-container {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .ca_blocks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .ca_blocks p {
    display: flex;
    align-items: top;
    margin: 0;
    padding: 0;
  }

  .olive_tree {
    width: 500px;
  }

  .incentives_body {
    flex-direction: row;
    justify-content: space-between;
  }

  .silver_brief {
    gap: 10px;
  }

  .ambassador_benefits {
    justify-content: start;
  }
}

@media screen and (max-width: 1000px) {
  .ca-title-main {
    padding: 20vh 0;
  }
}

@media screen and (max-width: 580px) {
  .no_margin {
    font-size: 6vh;
  }

  .ca-register-btn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .ca-incentives h1,
  .ca-registration h1 {
    font-size: 5vh;
  }

  .silver_brief {
    justify-content: center;
    align-items: center;
  }

  .ca-title-main {
    padding: 15vh 0;
  }
}

@media screen and (max-width: 480px) {
  .no_margin {
    font-size: 5vh;
  }

  .ca-incentives h1,
  .ca-registration h1 {
    font-size: 5vh;
  }

  .ca_page {
    padding: 0 0 10vh;
  }

  .ca_blocks p {
    font-size: 2vh;
    margin-top: 0;
  }
}

@media screen and (width < 1000px) {
  .ca-info-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .ca_blocks,
  .ca-incentives {
    text-align: center;
  }

  .silver_brief {
    align-items: center;
  }
}

@media screen and (max-width: 400px) {
  .ca-title-main {
    padding: 15vh 0 0;
  }
}