@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.notfound {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../assets/notFound.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 29%;
  overflow: hidden;
}

.notFound-container {
  font-family: "Share Tech", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.notfound h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 680px) {
  .notFound-container{
    margin-left: 11px;
  }
}