@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
.pre-events-cards {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.pre-events-cards-x {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  gap: 76px;
}
.pre-event-title {
  backdrop-filter: blur(10px);
  width: 100%;
}
.pre-events-cards h1 {
  font-family: "Orbitron", sans-serif;
  color:#fff;
  text-transform: uppercase;
  font-size: 4vw;
  margin-bottom: 0;
}
.blink_warning{
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}