@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap");

.form-container h1 {
  font-weight: bold;
  margin: 0;
}

.form-container form {
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px 0;
  text-align: center;
}

.form-container input {
  /* background-color: #eee; */
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-container-main {
  position: relative;
  width: 99.9svw;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  transition: background-image 0.5s ease-in-out;
  z-index: 20;
}

.form-container {
  position: relative;
  top: 0;
  /* height: 100%; */
  margin-left: 5rem;
  transition: all 0.6s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sign-in-container {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  /* z-index: 2; */
  padding: 22.13vh 0;

}
.line1{
  border-right: 2px dashed #4FD4C7;
  height: fit-content;
}
.line2{
  /* border-left: 2px dashed #4FD4C7; */
  height: fit-content;
}
@media (max-width: 800px) {
  .form-container{
    margin-left: 0;
  }
  .line1{
    border-right: none;
  }
}


.form-container-main.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-container-main.right-panel-active .sign-up-container {
  transform: translateX(90%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.register-overlay-container {
  background: radial-gradient(circle, rgba(129,253,249,1) 0%, rgba(69,216,228,1) 8%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 48%, rgba(31,21,45,1) 100%);
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.form-container-main.right-panel-active .register-overlay-container {
  transform: translateX(-100%);
}

.register-overlay {
  color: #ffffff;
  /* position: relative; */
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.form-container-main.right-panel-active .register-overlay {
  transform: translateX(50%);
}

.register-overlay-panel {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0 40px; */
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.register-overlay-left {
  transform: translateX(-50%);
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: #1F152D; */
}

.form-container-main.right-panel-active .register-overlay-left {
  transform: translateX(0);
}

.register-overlay-right {
  right: 0;
  transform: translateX(50);
  height: 100%;
  /* min-height: 100vh; */
  /* background-color: #1F152D; */
}

.form-container-main.right-panel-active .register-overlay-right {
  transform: translateX(50%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.form-container.hide-it {
  display: none;
}
.heig{
  height: 100%;
}

@media screen and (max-width: 800px) {
  .form-container-main {
    /* margin: 0; */
    width: 100%;
  }
  .form-container {
    /* margin: 0; */
    width: 100%;
    height: 100%;
  }
  .form-container form {
    height: auto;
    padding: 0;
  }
  .form-container-main.right-panel-active .sign-in-container {
    transform: translateX(0);
  }
  .form-container-main.right-panel-active .sign-up-container {
    transform: translateX(0);
  }
  .register-overlay-container {
    display: none;
  }
  .form-container-main.right-panel-active .register-overlay-container {
    display: none;
  }
  .register-overlay {
    display: none;
  }
  .form-container-main.right-panel-active .register-overlay {
    display: none;
  }
  .register-overlay-panel {
    width: 100%;
  }
  .register-overlay-left {
    display: none;
  }
  .form-container-main.right-panel-active .register-overlay-left {
    display: none;
  }
  .register-overlay-right {
    width: 100%;
  }
  .form-container-main.right-panel-active .register-overlay-right {
    width: 100%;
  }
  .form-container.hide-it {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .h{
    height: fit-content !important;

  }
  .form-container {
    padding: 12vh 0;
  }
  .right{
    background-position: calc(100% + 69vw) center;
  }
  .left{
    background-position: calc(100% + 140vw) center;
  }
}
