@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
/* .sponsors-container{
    margin-bottom: 80px;
    padding: 0px 20px ;
} */


.spos-title {
  color: #ed9340;
  position: relative;
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
  /* opacity: 0.5; */
}
.spos-title h1 {
  margin: 0px;
}
.container-spos {
  margin: 0 auto;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-spos hr {
  margin: 60px 0px;
  border: 1px solid #ffffff;
  opacity: 0.1;
}
.spos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  gap: 20px;
  /* margin: 0 auto 70px; */
}

.title-sponsors {
  width: 1112px;
  height: 116px;
  position: absolute;
  top: 418px;
  left: 164px;
  gap: 0px;
  opacity: 1;

  /* Font and text styles */
  font-family: "Metal Mania", cursive; /* Ensure Zaptron is loaded */
  font-size: 105px;
  font-weight: 400;
  line-height: 115.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#FFFFFF
}


.spos-image {
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 20px;
}
@media only screen and (max-width: 321px) {
  .spos-title {
    font-size: 1vh;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
  }
  .sponsors-container-heading {
    /* font-size: 1.4rem; */
    margin-top: 1vh;
  }
  .sponsors-container-content {
    font-size: 0.6rem;
    width: auto;
  }
  /* .sponsors-container{
        margin-bottom: 30px;
    } */
  .container-spos {
    margin-top: -180px;
    padding: 0 3vh;
  }
  .spos-title h1 {
    font-size: 1.8vh;
  }
}
@media only screen and (min-width: 321px) and (max-width: 410px) {
  .spos-title {
    font-size: 0.4rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
  }
  .sponsors-container-heading {
    /* font-size: 1.6rem; */
    margin-top: 1vh;
  }
  .sponsors-container-content {
    font-size: 0.8rem;
    width: auto;
  }
  /* .sponsors-container{
        margin-bottom: 40px;
    } */
  .container-spos {
    /* margin-top: -50px; */
  }
  .spos-image img {
    width: 60%;
  }
}
@media only screen and (min-width: 410px) and (max-width: 530px) {
  .spos-title {
    font-size: 0.4rem;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
  }

  .sponsors-container-heading {
    /* font-size: 2.2rem; */
    margin-top: 1vh;
  }
  .sponsors-container-content {
    font-size: 0.8rem;
    width: auto;
  }
  /* .sponsors-container{
    margin-bottom: 40px;
} */
  .spos-image {
    gap: 20px 10px;
  }
  .spos-image img {
    width: 80%;
  }
  .container-spos {
    margin-top: -25px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 600px) {
  .spos-title {
    font-size: 0.6rem;
  }
  .sponsors-container-heading {
    /* font-size: 3rem; */
    margin-top: 1vh;
  }
  .sponsors-container-content {
    font-size: 1rem;
    width: auto;
  }
  /* .sponsors-container{
    margin-bottom: 40px;
} */
  .spos-image {
    justify-content: space-between;
  }
  .container-spos {
    margin-top: -25px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 700px) {
  .spos-title {
    font-size: 0.6rem;
  }
  .sponsors-container-heading {
    /* font-size: 3rem; */
    margin-top: 0.6vh;
  }
  .sponsors-container-content {
    font-size: 1rem;
    width: auto;
  }
   .container-spos {
    padding: 0 3vh;
  }
  /* .sponsors-container{
        margin-bottom: 30px;
    } */
}
@media only screen and (min-width: 700px) and (max-width: 800px) {
  .spos-title {
    font-size: 0.7rem;
  }
  .sponsors-container-heading {
    /* font-size: 4rem; */
    margin-top: 1vh;
  }
  /* .sponsors-container{
        margin-bottom: 50px;
    } */
  .sponsors-container-content {
    font-size: 1.1rem;
    width: auto;
  }
  .spos-image {
    gap: 10px 20px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1140px) {
  .spos-title {
    font-size: 0.8rem;
  }
  .sponsors-container-heading {
    /* font-size: 4rem; */
    margin-top: 1vh;
  }
  .sponsors-container-content {
    font-size: 1.1rem;
    width: auto;
  }
}

@media screen and (max-width: 600px){
  .container-spos{
    padding: 0 3vh;
  }
}