@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

/* Font faces */
@font-face {
  font-family: 'Zaptron';
  src: url('../assets/Zaptron-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Changa';
  src: url('../assets/Changa-VariableFont_wght.ttf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

.sponsorsPage{
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
}
/* Main Container Styles */
.sponsors-title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.spos-title {
  color: #ed9340;
  font-size: 5px;
  font-family: 'Zaptron';
  font-weight: 400;
  text-align: center;
  width: 60%;
  max-width: 997px;
  height: auto;
  opacity: 1;
  margin-bottom: 60px; /* Adds space below the main title */
}

.spos-title h1 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  margin: 20px;
  white-space: normal; /* Default behavior: No word break for large screens */
  overflow-wrap: normal; /* Prevent wrapping */
  text-align: center; 
  
}

.container-spos {
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Ensures content aligns from the top */
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
  padding: 1rem;
}

.container-spos hr {
  margin: 60px 0px;
  border: 1px;
  opacity: 0.1;
}

.spos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  gap: 20px;
}

.title-sponsors {
  font-size: clamp(2rem, 6vw, 5rem);
  font-family: 'Zaptron';
  font-weight: 400;
  text-align: center;
  width: 90%;
  max-width: 997px;
  height: auto;
  opacity: 1;
  color: #FFF0EE;
  white-space: nowrap; /* Allows text wrapping */
  word-break: break-word;
  margin-top: 200px;
}


.sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px; /* Set a consistent width for the logo container */
  height: 150px; /* Set a consistent height for the logo container */
  border-radius: 10px; /* Optional: Add rounded corners */
  gap:10px;
}
.spos-image {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap into new rows */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  padding-bottom:40px ;
  object-fit: contain;
  gap: 90px; /* Adds spacing between logos */
  margin-top: -50px;
  margin-bottom: 80px;
}




.sponsor-info {
  text-align: center;
  margin-top: 10px;
}

.sponsor-info p {
  font-weight: bold;
  font-size: 18px;

}

.sponsor-info a {
  text-decoration: none;
  color: #337ab7;
}

.sponsor-info a:hover {
  color: #23527c;
}


/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .title-sponsors{
    width:100%;
  }
  .spos-title {
    font-size: clamp(2rem, 6vw, 4rem);
  }

  .container-spos {
    padding: 0 3vh;
  }

  .spos-image {
    gap: 20px 10px;
  }
}

@media (max-width: 768px) {
  .title-sponsors{
    width:100%;
  }
  .spos-title {
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    text-align: center;
  }
  .spos-title h1 {
    white-space: normal; /* Enable text wrapping */
    overflow-wrap: break-word;}

  .container-spos {
    margin-top: -30px;
    padding: 0 2vh;
  }

  .spos-image img {
    width: 80%;
  }
}

@media (max-width: 480px) {

  .title-sponsors{
    width:100%;
    white-space: normal;
  }
  .spos-title {
    font-size: clamp(1.5rem, 4vw, 3rem);
  }

  .container-spos {
    margin-top: -50px;
    min-height: 50vh;
  }

  .spos-image img {
    width: 80%;
    margin-bottom: 50px;
    /* margin-top: 80px; */
  }

}
