@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap");
.team-main {
  padding: 0px;
  background-image: url(/src/assets/team/Background.png);
  margin: 0 auto;
  width: 99.8vw;
  text-align: left;
  box-sizing: border-box;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.team-title {
  padding-top: 5rem;
  width: 200vw;
  height: 100vh;

  background-color: #000f1696;
  scrollbar-width: none; /* For Firefox */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

.team-title img {
  height: 85%;

  width: auto;
  /* object-fit: contain; Maintain aspect ratio */
  padding-left: 100vw;
  /* padding-right: 30vw; */
}

.team-main::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
.team-title::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.team-section {
  padding: 0 5vh 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position-y: bottom;
}
.team-position-section {
  margin: 50px auto;
  text-align: center;
}
.team-verticle h1 {
  padding-top: 0.625rem;
  width: 39.17rem;
  height: 8.25rem;
  background-image: url("../assets/team/banner.png");
  background-repeat: no-repeat;
  /* background-size: 100% 8.25; */
  background-position: center;

  font-family: Changa;
  font-size: 38px;
  font-weight: 400;
  line-height: 69.92px;
  letter-spacing: 0.07em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.team-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto 0;
  gap: 20px;
  /* min-width: 0;
  min-height: 0; */
}
.past-team-main,
.current-team-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.past-team-main button {
  background-color: #005e83;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.current-team-main button {
  background-color: #dc7204;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.past-team-main button:hover,
.current-team-main button:hover {
  background-color: #fff;
  color: #000;
}
/* @media screen and (max-width: 500px){
    .team-title h1{
        font-size: 5vh;
    }
    .team-title p{
        font-size: 1.8vh;
    }
    .team-verticle h1{
        font-size: 3vh;
    }
} */
.hide {
  display: none;
}

.visible {
  display: block;
  position: fixed;
  text-wrap: nowrap;
  margin-right: 100vw;
}

@media screen and (max-width: 680px) {
  .team-title {
    height: auto;
    width: 100vw;
  }
  .team-title img {
    padding: 0;
    margin: 0;
  }
  .team-title h3 {
    padding: 0;
    display: none;
  }
  .team-verticle h1 {
    font-size: 4vh;
  }
  .team-cards-container {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .team-verticle h1 {
    font-size: 3vh;
  }
  .team-cards-container {
    align-items: center;
  }
}
@media (max-width: 450px) {
  .team-verticle h1 {
    font-size: 2.5vh;
    width: 80%;
    background-size: contain; /* Or specify a percentage */
    background-repeat: no-repeat;
    background-position: center;
  }
  .team-cards-container{
    margin-top: -100px;
    gap: 0px;
  }

}
