@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
.team-main {
  /* padding: 0 5vh 10vh; */
  margin: 0 auto;
  width: 100vw;
  text-align: left;
  box-sizing: border-box;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.animation{
  padding: 0 5vh 10vh;
}
/* .team-title{
    text-align: left;
    font-size: 1.2rem;
    
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Orbitron';
}
.team-title h1{
    font-size: 3.75rem;
    color: #ED9340;
    font-family: 'Orbitron';
    margin: 0px;
} */
.team-section {
  padding: 0 5vh 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.team-position-section {
  margin: 50px auto;
  text-align: center;
}
/* .team-verticle{
 
} */
.team-verticle h1 {
  width: 32.17rem;
  height: 8.25rem;
  background-image: url('../assets/team/banner.png');
  font-family: "Changa";
  font-size: 2.375rem;
  margin: 0px;
  font-weight: 400;
 
 
 
}
.team-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 5rem auto 0;
  gap: 20px;
  /* min-width: 0;
  min-height: 0; */
}
.past-team-main, .current-team-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.past-team-main button {
  background-color: #005e83;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.current-team-main button {
  background-color: #dc7204;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.past-team-main button:hover,
.current-team-main button:hover {
  background-color: #fff;
  color: #000;
}
/* @media screen and (max-width: 500px){
    .team-title h1{
        font-size: 5vh;
    }
    .team-title p{
        font-size: 1.8vh;
    }
    .team-verticle h1{
        font-size: 3vh;
    }
} */
@media screen and (max-width: 680px) {
  .team-verticle h1 {
    font-size: 4vh;
  }
  .team-cards-container {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .team-verticle h1 {
    font-size: 3vh;
  }
  .team-cards-container{
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .team-verticle h1 {
    font-size: 2.5vh;
  }
}
