@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.theme-container {
  margin: 0 auto;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blurLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.274);
}

@font-face {
  font-family: 'Noatun';
  src: url('../assets/theme/Noatun.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

.nordic-text,
.nights-text {
  position: absolute;
  font-family: 'Noatun', sans-serif;
  font-size: 12vw;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  z-index: 2;
  background: linear-gradient(107.57deg, #6DECBB 1.16%, #64EAFE 51.47%, #31D0E8 98.84%);
  -webkit-background-clip: text;  
  color: transparent;
}

.nights-text {
  margin-left: 0px;
  margin-top: 20%;
}

.theme-content {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  padding-top: 10vh;
  overflow: hidden;
}

.blurLayer_sec {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.247);
}

.theme-text {
  font-size: 40px;
  padding: 10vh 30vh 10vh 30vh;
  text-transform: uppercase;
  text-align: center;
  z-index: 5;
  color: rgba(212, 251, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.theme-detail {
  font-family: 'Metal Mania', cursive;
  mix-blend-mode: plus-lighter;
  line-height: 1.5;
  word-spacing: 14px;
  letter-spacing: 6px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  z-index: 5;
}

.gradient {
  position: absolute;
  bottom: -22vh;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg, rgba(0, 15, 22, 0.034) 0%, #000F16 50.5%, rgba(0, 15, 22, 0) 100%);
  pointer-events: none;
  z-index: 2;
}

.theme_video {
  display: flex;
  flex-direction: row;
  background-color: black;
  z-index: 5;
  padding: 12px;
  align-items: center;
}

.video_play iframe {
  width: 50vw;
  height: 450px;
}

@media (max-width: 1200px) {

  .nordic-text,
  .nights-text {
    font-size: 18vw;
  }

  .nights-text {
    margin-top: 32%;
  }
}

@media (max-width: 768px) {

  .nordic-text,
  .nights-text {
    font-size: 20vw;
  }

  .nights-text {
    margin-top: 35%;
  }
}

@media (max-width: 480px) {

  .nordic-text,
  .nights-text {
    font-size: 20vw;
  }

  .nights-text {
    margin-top: 35%;
  }
}

@media (max-width: 1600px) {
  .theme-text {
    font-size: 36px;
    padding: 10vh 5vh 10vh 5vh;
  }

  .theme-content {
    gap: 50px;
  }

  .video_play iframe {
    height: 450px;
    width: 60vw;
  }
}

@media (max-width: 1200px) {
  .theme-content {
    gap: 50px;
  }

  .video_play iframe {
    width: 80vw;
    height: 420px;
  }
}

@media (max-width: 768px) {
  .theme-text {
    font-size: 30px;
    padding: 3vh 5vh;
  }

  .theme-content {
    gap: 50px;
  }

  .video_play iframe {
    width: 80vw;
    height: 350px;
  }
}

@media (max-width: 480px) {
  .theme-text {
    font-size: 18px;
    padding: 2vh 3vh;
  }

  .theme-content {
    gap: 50px;
  }

  .video_play iframe {
    width: 80vw;
    height: 250px;
  }
}