@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
.eventspage-main {
  margin: 0 auto;
  /* max-width: 1440px; */
  padding: 0 5vh;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}
.events-allevents {
  margin: 7vh 0;
}
.events-allevents button {
  background: #870a0c;
  color: #fff;
  border: none;
  outline: none;
  font-family: "Orbitron", sans-serif;
  font-size: 2.5vh;
  text-transform: uppercase;
  word-spacing: 5px;
  padding: 20px 50px;
  cursor: pointer;
  transition: 0.5s;
}
#filter___id button {
  border-top: none;
  border-left: none;
  border-right: none;
}
.eventspage-glimpses {
  padding-bottom: 15vh;
}

.events-buttons {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.filter {
  display: flex;
  justify-content: space-evenly;
  margin-top: -5vw;
}

.filter___button {
  padding: 0;
  background: transparent;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.filter___button.active {
  scale: 1.1;
  border-bottom: 5px solid #ED1507;
  border-radius: 0;
}
.filter___button.active:hover{
  scale: 1;
}
.filter___button:hover {
  scale: 1.1;
}
.filter___button:focus {
  outline: none;
}
.filter___button img {
  width: 100%;
}
.workshops-content-main{
  padding-bottom: 10vh;
}
@media screen and (max-width: 600px) {
  .events-allevents button {
    font-size: 2vh;
    padding: 2vh;
    word-spacing: 0;
  }
  .eventspage-main {
    padding: 0 3vh;
  }
}
