.event_passes {
  margin: 0;
  position: relative;
}

.overlay_text {
  height: 100%;
  columns: black;
  top: 0%;
  right: 7%;
  position: absolute;
  font-size: 38px;
  display: flex;
  letter-spacing: 0.2em;

}

.event_passes_name {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
 
}

.regId {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
}
