#go-to-top-button {
    backdrop-filter: blur(10px);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-weight: 900;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: fixed;
  bottom: 5vh;
  right: 8vh;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  cursor: pointer;
  z-index: 999;
}
#go-to-top-button:hover {
  background-color: #ccc;
  color: #000;
}
