@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");

.page-title-main {
  /* min-height: 100vh; */
  /* margin: 10vh auto 0; */
  /* padding-top: 5vh; */
  box-sizing: border-box;
}
.page-title-bg {
  padding-top: 10vh;
  box-sizing: border-box;
}
.page-title-bg img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 45vw;
  object-fit: scale-down;
  z-index: 2;
  /* width: 70%; */
  /* object-fit: cover; */
  /* animation: bobble 2s infinite; */
}

.page-title-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 10vw;
  left: 50%;
  position: absolute;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  transform: translate(-50%);
  width: 100%;
  z-index: 2;
  padding: 0 10vh;
  box-sizing: border-box;
}
.page-title-content h1 {
  color: #fff;
  /* font-size: 7rem; */
  font-size: 8vw;
  font-weight: 900;
  margin-bottom: 0;
}
.page-title-content h3 {
  color: #fff;
  /* font-size: 1.5rem; */
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.2rem;
  width: 80%;
}
.page-title-typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* border-right: .15em solid;  */
  font-weight: 700;
  font-size: 5vw;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
} */
@keyframes bobble {
  0% {
    transform: translate3d(-50%, -8%, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(-50%, -6%, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(-50%, -8%, 0px);
  }
}

@media screen and (max-width: 850px) {
  .page-title-bg {
    padding-top: 10vh;
  }
  .page-title-content {
    margin-top: 10vh;
  }
  .page-title-content h3 {
    /* font-size: 1.7vh; */
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .page-title-content h1 {
    font-size: 8vw;
  }
  .page-title-typewriter h1 {
    font-size: 5vw;
  }
  .page-title-content h3 {
    font-size: 1.1vh;
    width: 100%;
  }
  .page-title-content {
    margin-top: 7vh;
    padding: 0 3vh;
  }
}

/* @media screen and (max-width: 400px) {
    .page-title-content h1 {
    margin-top: 0;
    font-size: 5vh;
  }
    .page-title-typewriter h1 {
    font-size: 2vh;
  }
  .page-title-content h3 {
    font-size: 1.2vh;
    width: 100%;
  }
} */