@import url('https://fonts.googleapis.com/css2?family=Ancient+Tulip&display=swap');

@font-face {
    font-family: 'Zaptron';
    src: url('../assets/Zaptron-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Ancient-Tulip';
    src: url('../assets/Ancient-Tulip.ttf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

.passesBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.passesOverlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(36, 35, 35, 0.766);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.closeButtonpass {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.passes {
    width: 370px;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blurLayers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 15px;
}

.prometeoLogo {
    font-family: "Zaptron";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-top: 20px;
    gap: 0;
    z-index: 100;
}

.prometeoLogo p {
    padding: 0;
    z-index: 100;
}

.twoZero {
    margin-top: -12px;
    z-index: 100;
}

.logoSection {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    z-index: 100;
}

.firstOne {
    height: 70px;
    width: 50px;
    z-index: 100;
}


.firstZero {
    z-index: 100;
}

.secondOne {
    height: 60px;
    width: 50px;
    z-index: 100;
}

.lineBetween {
    height: 80px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.534);
    z-index: 100;
}

.passesName {
    font-family: 'Ancient-Tulip';
    font-size: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 35px;
    z-index: 100;
}

.namePass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-top: 25px;
}

.userName {
    z-index: 100;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.nameUnderline {
    width: 170px;
    height: 1.2px;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    margin-top: -3px;
}

.qrCode {
    z-index: 100;
    height: 160px;
    margin-top: 20px;
}

.confidential {
    z-index: 100;
    font-size: 11px; 
    color: #ff0000e8;
    font-weight: bold; 
    text-align: center; 
    margin-top: 4px;
    font-style: italic;
}

.confidential1 {
    z-index: 100;
    font-size: 11px; 
    color: #ff0000e8;
    font-weight: bold; 
    text-align: center; 
    margin-top: -2px;
    font-style: italic;
}

@media (max-width: 1440px) and (min-width: 1026px) {
    .passes {
        height: 740px;
    }

    /* .passesName {
        /* font-size: 80px; */
        /* font-size: 50px;
        margin-top: 15vh; */
        /* line-height: 80px; */
    

    /* .prometeoLogo {
        font-size: 40px;
        margin-top: 20px;
    }

    .closeButtonpass {
        top: 10px;
        right: -10px;
    }

    .lineBetween {
        height: 70px;
        width: 2px;
    }

    .namePass {
        margin-top: 5vh;
    }

    .userName {
        font-size: 25px;
    }
    
    .nameUnderline {
        width: 180px;
        height: 2px;
        margin-top: -3px;
    }  */
}

@media (max-width: 1025px) and (min-width: 1024px) {
    .passes {
        width: 380px;
        height: 580px;
    }

    .passesName {
        /* font-size: 70px; */
        font-size: 55px;
        margin-top: 2vh;
        /* line-height: 80px; */
    }

    .prometeoLogo {
        font-size: 35px;
        margin-top: 10px;
    }

    .twoZero {
        margin-top: -12px;
        z-index: 100;
    }

    .closeButtonpass {
        top: -4px;
        right: -10px;
        font-size: 30px;
    }

    .firstOne {
        height: 40px;
        width: 30px;
    }

    .logoSection {
        margin-top: 2px;
        gap: 10px;
        z-index: 100;
    }
    
    .secondOne {
        height: 40px;
        width: 30px;
    }

    .lineBetween {
        height: 40px;
        width: 2px;
    }

    .namePass {
        margin-top: 10px;
    }

    .userName {
        font-size: 20px;
    }
    
    .nameUnderline {
        width: 150px;
        height: 2px;
        margin-top: -3px;
    }
}



@media (max-width: 1023px) and (min-width: 681px) {
    .passes {
        height: 700px;
    }

    .confidential {
        font-size: 9px; 
    }
    
    .confidential1 {
        font-size: 9px; 
    }

    .passesName {
        margin-top: 15px;
    }

    /* .passesName {
        /* font-size: 90px; */
        /* font-size: 50px;
        margin-top: 15vh; */
        /* line-height: 90px; */
    

    /* .prometeoLogo {
        font-size: 45px;
        margin-top: 30px;
    }

    .closeButtonpass {
        top: 10px;
        right: 10px;
        font-size: 30px;
    }

    .lineBetween {
        height: 70px;
        width: 2px;
    }

    .namePass {
        margin-top: 4vh;
    }

    .userName {
        font-size: 28px;
    }
    
    .nameUnderline {
        width: 190px;
        height: 2px;
        margin-top: -3px;
    } */
}

@media (max-width: 680px) and (min-width: 581px) {
    .passes {
        height: 700px;
    }

    .confidential {
        font-size: 9px; 
    }
    
    .confidential1 {
        font-size: 9px; 
    }

/* 
    .passesName {
        font-size: 80px;
        font-size: 40px;
        margin-top: 15vh;
        line-height: 80px;
    } */

    /* .prometeoLogo {
        font-size: 40px;
        margin-top: 20px;
    }

    .closeButtonpass {
        top: 10px;
        right: -10px;
    }

    .lineBetween {
        height: 70px;
        width: 2px;
    }

    .namePass {
        margin-top: 5vh;
    }

    .userName {
        font-size: 25px;
    }
    
    .nameUnderline {
        width: 180px;
        height: 2px;
        margin-top: -3px;
    } */
}

@media (max-width: 580px) and (min-width: 531px){
    .passes {
        height: 600px;
    }

    .passesName {
        /* font-size: 85px; */
        font-size: 40px;
        margin-top: 25px;
        /* line-height: 83px; */
    }

    .closeButtonpass {
        top: 5px;
        right: -10px;
    }

    .lineBetween {
        height: 50px;
        width: 2px;
    }

    .logoSection {
        margin-top: -10px;
    }

    .namePass {
        margin-top: 2vh;
    }

    .confidential {
        font-size: 8px; 
    }
    
    .confidential1 {
        font-size: 8px; 
    }
}

@media (max-width: 530px) and (min-width: 381px) {
    .passes {
        width: 80vw;
        height: 650px;
    }

    .confidential {
        font-size: 8px; 
    }
    
    .confidential1 {
        font-size: 8px; 
    }

    .passesName {
        font-size: 40px;
        margin-top: 10px;
    }

    .closeButtonpass {
        top: 5px;
        right: -10px;
    }

    .lineBetween {
        height: 50px;
        width: 2px;
    }

    .namePass {
        margin-top: 5px;
    }
} 

@media (max-width: 380px) {
    .passes {
        width: 80vw;
        height: 90vh;
    }


    .confidential {
        font-size: 8px; 
    }
    
    .confidential1 {
        font-size: 8px; 
    }

    .passesName {
        /* font-size: 63px; */
        font-size: 35px;
        margin-top: 11vh;
        /* line-height: 70px; */
    }

    .prometeoLogo {
        font-size: 30px;
    }

    .closeButtonpass {
        top: -5px;
        right: -12px;
    }

    .firstOne {
        height: 50px;
        width: 40px;
    }
    
    .secondOne {
        height: 50px;
        width: 40px;
    }

    .logoSection {
        margin-top: 10px;
    }

    .lineBetween {
        height: 50px;
        width: 2px;
    }

    .namePass {
        margin-top: 2vh;
    }
}