@import url("https://fonts.googleapis.com/css?family=Roboto Mono");
.signup-container-right {

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vh 4vw;
  overflow: hidden;
}
.signup-container-right-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 5vh;
}
.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-container-right-title,
.signup-form {
  z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.signup-gender-dropdown {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.signup-gender-dropdown-label {
  height: 100%;
  /* width: 40%; */
  /* color: #000000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form input,
.signup-gender-dropdown-select {
  width: 100%;
  box-sizing: border-box;
  /* height: 5vh; */
  margin: 8px 0;
  padding: 10px 8px;
  border-radius: 5px;
  /* font-size: 1.8vmin; */
  font-family: "Roboto Mono", monospace;
  /* color: black; */
  /* background-color: rgb(151, 189, 185); */
}

.signup-form-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signup-form-name input {
  width: 48%;
  /* margin: 0 1%; */
}

.signup-ca-checkbox,
.signup-acc-checkbox {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

#signup-ca-checkbox-input,
#signup-acc-checkbox-input {
  height: fit-content;
  width: fit-content;
  color: #fff;
  /* background-color: rgb(151, 189, 185); */
}

#signup-ca-checkbox-input:focus,
#signup-acc-checkbox-input:focus {
  outline: none;
}

.signup-ca-checkbox-label,
.signup-acc-checkbox-label {
  box-sizing: border-box;
  padding-left: 2%;
  color: #ffffff;
}

.signup-acc-checkbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#signup-acc-checkbox-input {
  height: fit-content;
  width: fit-content;
  color: #ffffff;
  /* background-color: rgb(151, 189, 185); */
}

#signup-acc-checkbox-input:focus {
  outline: none;
}

.signup-acc-checkbox-label {
  box-sizing: border-box;
  padding-left: 2%;
  color: #fff;
}

.signup-form-confirmpassword-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#signup-form-confirmpassword-warning {
  color: #ff0000;
  font-size: 1.7vmin;
  font-weight: 700;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

#signup-form-submit,
#google-signup-form-submit {
  width: 40%;
  height: 5vh;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 2vmin;
  font-family: "Roboto Mono", monospace;
  color: #fff;
  transition: all 0.2s ease;
  text-align: center;
}

#google-signup-form-submit {
  margin: 0;
  border-radius: inherit;
}

#signup-form-submit:hover {
  background-color: #810987;
  cursor: pointer;
}

.google-button {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  /* border: 2px solid red; */
  border-radius: 20px !important;
  /* margin-left:0% !important; */
}

.form-google-signin {
  width: 240px !important;
  height: 5vh !important;
  margin: 15px 0 5px;
  padding: 5px;
  border: none;
  font-weight: 700;
  font-size: 2vmin;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff !important;
  color: #101c27;
}

.form-google-signin:hover {
  /* background: yellow !important; */
  background-color: rgb(233, 233, 233) !important;
  cursor: pointer;
}

.google-img {
  position: absolute;
  width: 10%;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  /* border: 2px solid red; */
  transition: all 0.2s ease;
}

.parent:hover .child {
  transform: scale(1.1) translateY(-50%);
  top: 52%;
}

.signup-alreadyAccount {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 2vmin;
  text-decoration: none;
}

@media (max-width: 1000px) {
  .signup-container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .signup-container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .signup-container-right {
    height: auto;
  }
  .signup-alreadyAccount,
  #signup-form-submit,
  #google-signup-form-submit {
    font-size: 2vh;
    /* margin-bottom: 10vh; */
  }
}

/* @media (orientation: portrait) {
  .signup-container {
    flex-direction: column;
    height: min-content;
    width: 90%;
  }

  .signup-container-left {
    width: 100%;
    height: 20vh;
    border-radius: 20px 20px 0 0;
  }

  .signup-container-right {
    width: 100%;
    height: fit-content;
    border-radius: 0 0 20px 20px;
  }

  .signup-container-right-title {
    font-size: max(26px, 4vmin);
  }

  .signup-form input {
    font-size: max(12px, 1.8vmin);
  }

  #signup-form-confirmpassword-warning {
    font-size: max(11px, 1.7vmin);
  }

  #signup-form-submit,
  #google-signup-form-submit {
    font-size: max(13px, 2vmin);
  }

  .signup-alreadyAccount {
    font-size: max(12px, 2vmin);
  }
} */
