@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");

:root {
  --back-image-url: url('./assets/coming-soon/bg-nostars.png');
}

.home-body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: var(--back-image-url) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.stars {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  pointer-events:visible;
  z-index: 1; 
}

.star {
  position: absolute;
  background-color: rgba(197, 194, 194, 0.792);
  border-radius: 50%; 
  width: 2px; 
  height: 2px; 
  opacity: 0.8; 
  transition: opacity 0.3s ease;
  /* Optional: Add a small glowing effect */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.677);
}

#tsparticles {
  height: 100%;
}

.home-main-container {
  position: absolute;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  z-index: 20;
  background-color: #ffffff00;
}

.fog-svg {
  width: 100%;
  transform: scale(2);
  filter: invert() blur(1px);
  opacity: 0.4;
}

.fogMid .st0 {
  /* fill: rgba(247, 244, 244, 0.5);  */
  /* scale: 1.5; */
}

.logo {
  box-sizing: border-box;
  width: auto; 
  margin: 1.2rem;
  height: auto !important; /* Reset height */
  padding: 0 !important;
  z-index: 10;
}

.logo img {
  max-width: 100%;
  height: auto; 
}

.home-title {
  text-align: center; /* Center title text */
  width: 85%; 
  padding-left: 16%;
}
.home-title img {
  max-width: 100%; 
  height: auto;
}

.pre-register {
  width: 100%;
}

.pre-register span {
  text-align: center;
  font-family: 'LEMON MILK', sans-serif;
  font-style: normal;
  font-weight: 500; 
  font-size: 1.5em; 
  line-height: 35px; 
  color: #FFFFFF; 
  white-space: nowrap; 
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0px 3px 0px 3px ;
}

.pre-register span:hover {
  cursor: pointer;
  border-bottom-color: #FFFFFF; /* Change border color on hover */
}


.home-footer {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
  height: 7vh !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 18px 0px 0px !important;
  margin: auto;
}

.home-socialmedia {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2vw;
}

@media screen and (min-width: 320px) {
  .home-main-container {
    /* background: url('https://ik.imagekit.io/nrcvcirqj/assets/coming-soon/bg-forest-small.png') no-repeat center center; */

    /* background-size: cover; */
    height: 40vh;
  }

  .home-title {
    /* font-size: 3vh; */
  }

  .home-footer {
    bottom: 7vh;
  }
}


@media screen and (min-width: 720px) {
  .home-main-container {
    /* background: var(--back-image-url) no-repeat center center;
    background-size: cover; */
    height: 40vh;
  }


  .home-footer {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5vw;
    margin: auto;
  }
}

.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--back-image-url) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  z-index: 1001;
}


@media screen and (min-width: 1280px) {
  .home-main-container {
    /* background: var(--back-image-url) no-repeat center center fixed;
    height: 100vh; */
    /* background-size: cover; */
  }
  /* .home-logo img {
    margin: auto 0px;
    width: 100%;
  } */

  .home-title {
    /* font-size: 3em; */
  }
}



@keyframes scale {
  100% {
    transform: scale(1);
  }
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


