@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
@font-face {
  font-family: "Lemon-Milk-Bold";   
  src: local("LEMONMILK-Bold"),
    url("./fonts/LEMONMILK-Bold.otf") format("truetype");
}

@font-face {
  font-family: "LEMON-MILK";   
  src: local("LEMONMILK-Bold"),
    url("./assets/LemonMilkLight-owxMq.otf") format("truetype");
}

:root {
  --back-image-url: url('./assets/coming-soon/bg-nostars.png');
  --back-image-url-phone:url('./assets/coming-soon/bg-mobile-nostars.png')
}

.home-body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100svh;
  /* background: url("./assets/bg/1.webp") no-repeat center center fixed;
  background-size: cover; */
  overflow: hidden;
  animation: 1.5s infinite alternate backwardschange;
}

@keyframes backwardschange {
  0% {
    background: url('./assets/bg/1.webp') no-repeat center center fixed;
    background-size: cover;
  }
  15% {
    background: url('./assets/bg/2.webp') no-repeat center center fixed;
    background-size: cover;
  }
  30% {
    background: url('./assets/bg/3.webp') no-repeat center center fixed;
    background-size: cover;
  }
  45% {
    background: url('./assets/bg/4.webp') no-repeat center center fixed;
    background-size: cover;
  }
  60% {
    background: url('./assets/bg/5.webp') no-repeat center center fixed;
    background-size: cover;
  }
  75% {
    background: url('./assets/bg/6.webp') no-repeat center center fixed;
    background-size: cover;
  }
  90% {
    background: url('./assets/bg/7.webp') no-repeat center center fixed;
    background-size: cover;
  }
  100% {
    background: url('./assets/bg/8.webp') no-repeat center center fixed;
    background-size: cover;
  }
}

.stars {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  pointer-events:visible;
  z-index: 1; 
}

.star {
  position: absolute;
  background-color: rgba(214, 212, 212, 0.949);
  border-radius:50%; 
  width: 2px; 
  height: 2px; 
  opacity: 0.8; 
  transition: opacity 0.3s ease;
  /* Optional: Add a small glowing effect */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.677);
}

#tsparticles {
  height: 100%;
}

.home-main-container {
  position: absolute;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  z-index: 20;
  background-color: #ffffff00;
}

.fog-svg {
  width: 100%;
  transform: scale(2);
  filter: invert() blur(1px);
  opacity: 0.4;
}

.fogLeftContainer{
  position: absolute;
  width: 50vw;
  height: 52vh;
  top: 30vh;
  z-index: 0;
}

.fogRightContainer{
  position: absolute;
  width: 50vw;
  height: 52vh;
  top: 30vh;
  right: -5vw;
}

.logo {
  box-sizing: border-box;
  width: auto; 
  margin: 1.2rem;
  height: auto !important; /* Reset height */
  padding: 0 !important;
  z-index: 10;
}

.logo img {
  /* max-width: 40%; */
  height: auto; 
  width: 100px;
}


.home-title {
  text-align: center; /* Center title text */
  width: 100%; 
  /* padding-left: 16%; */
}
.home-title img {
  max-width: 100%; 
  height: auto;
}
.home-title h1{
  color: white;
  font-weight: 900;
  font-size: 180px;
  margin-bottom: 30px;
}

.pre-register {
  margin-top: 10px;
  width: 100%;
  z-index: 100;
}


.pre-register span {
  text-align: center;
  font-family: 'Lemon-Milk', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.7em; 
  line-height: 1.2; 
  color: #000000;
  /* text-decoration: underline;  */
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease; 
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 3px 5px black;
}

.pre-register span:hover {
  color: #BBBBBB; 
}



.home-footer {
  width: 100%;
  position: absolute;
  bottom: 0px !important;
  height: 7vh !important;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 18px 0px 0px !important;
  margin: auto;
  z-index: 100;
}
.home-music{
  width: 10%;
  position: absolute;
  bottom: 0px !important;
  height: 7vh !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0px 18px 0px 18px !important;
  margin: auto;
  z-index: 1000;
  font-size: 40px;
  /* top: 80%; */

}

.home-socialmedia {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2vw;
}


.modal-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--back-image-url) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

.modal {
  position: relative;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 0;
  animation: modalFadeIn 0.4s ease forwards; 
}

.ice-top {
  position: absolute;
  top: -18px;
  left: 0;
  width: 101%;
  height: 59px;
  background: url('./assets/snow.png') no-repeat center; /* Use an ice effect image */
  background-size: contain;
}

.modal-title {
  font-family: 'Lemon-Milk-Bold', sans-serif;
  font-size: 1.75rem; /* Increased font size slightly */
  font-weight: 1000; /* Added boldness */
  line-height: 1.2; /* Reduced line height for denser look */
  margin: 1rem 0 2rem 0;
}

.modal-input {
  width: 100%;
  padding: 0.5rem 0;
  margin: 1rem 0;
  background: transparent; 
  color: #fff;
  font-size: 1rem;
  border: none; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
  outline: none;
  transition: border-color 0.3s ease; 
}

.modal-input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8); 
}

.modal-button {
  width: 100%;
  padding: 0.7rem;
  margin: 1rem 0;
  background: rgba(255, 255, 255, 0.15); /* Softer background for a subtle look */
  border: none;
  border-radius: 6px; /* Slightly more rounded corners */
  color: #fff; /* White text for contrast */
  font-family: 'Roboto', sans-serif; /* Modern, clean font */
  font-size: 1rem;
  font-weight: 1000; /* Medium weight for elegance */
  letter-spacing: 0.5px; /* Subtle spacing for readability */
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.modal-button:hover {
  background: rgba(255, 255, 255, 0.3); /* Brighter background on hover */
  transform: translateY(-2px); /* Slight lift on hover for an interactive feel */
}

.modal-button:active {
  transform: translateY(0); /* Returns to original position when clicked */
}


.contact-link {
  margin-top: 1rem;
  color: #fff;
  text-decoration: underline;
  font-size: 0.9rem;
  cursor: pointer;
}


@media screen and (max-width: 1280px) {
  .fogLeftContainer{
    top: 400px;
  }
  .fogRightContainer{
    right: 0vw;
    height: 40vh;
  }
  
}
@media screen and (max-width: 720px) {
  .fogLeftContainer{
    top: 55vh;
    left: -5vw;
    width: 60vw;
    height: 62.4vh;
  }
  .fogRightContainer{
    width: 30vw;
    height: 34vh;
    right: 30vw;
    top: 20vh;
  }
}
@media screen and (min-width: 720px) {
  .home-main-container {
    height: 40vh;
  }
  .home-title h1{
    color: white;
    font-weight: 900;
    font-size: 100px;
  }


  .home-footer {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5vw;
    margin: auto;
    z-index: 100;
  }
  .pre-register span {
    text-align: center;
    font-family: 'Lemon-Milk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em; 
    line-height: 1.2; 
    color: #000000;
    /* text-decoration: underline;  */
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease; 
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
  }
}

@media screen and (max-width: 480px) {
  .home-main-container {
    height: 40vh;
  }
  .home-body {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: var(--back-image-url-phone) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    animation:none;

  }
  
  .home-footer {
    bottom: 7vh;
    width: 100%;
    bottom: 0px !important;
    height: 7vh !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 18px 0px 0px !important;
    margin: auto;
    top:80%;
    z-index: 100;
  }
  .pre-register span {
    text-align: center;
    font-family: 'Lemon-Milk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8em; 
    line-height: 1.2; 
    color: #000000;
    /* text-decoration: underline;  */
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease; 
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
  }
  .home-music{
  position: relative;
  flex-direction: row-reverse;
  top:6%;
  width: 100%;
  font-size: 30px;
  }
  
  .fogLeftContainer{
    top: 70vh;
  }
  .fogRightContainer{
    top: 0vh;
    right: 50vw;
  }
  .logo img {
    height: auto; 
    width: 60px;
  }
  .home-title h1{
    color: white;
    font-weight: 900;
    font-size: 40px;
  }
  
}

@media screen and (max-width: 300px) {
  .home-title h1{
    color: white;
    font-weight: 900;
    font-size: 30px;
  }
  
}


@keyframes scale {
  100% {
    transform: scale(1);
  }
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

