@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap");
.home-body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* height: 100vh; */
  overflow: hidden;
}

.home-main-container {
  height: 100vh;
  width: 100%;
  background: url('./assets/coming-soon/bg_image.png') no-repeat center center fixed;

  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-logo {
  margin: 5vh auto 0;
}

.home-title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1em;
  /* font-weight: 900; */
  letter-spacing: 0.3em;
  /* text-shadow: 1px 1px 1px #180b23, 1px 2px 1px #180b23, 1px 3px 1px #180b23,
    1px 4px 1px #180b23, 1px 5px 1px #180b23, 1px 6px 1px #180b23,
    1px 7px 1px #180b23, 1px 8px 1px #180b23, 1px 9px 1px #180b23,
    1px 10px 1px #180b23, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  animation: shadow-pulse 1.5s infinite;
  animation-delay: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-iteration-count: infinite; */
  font-family: LEMON MILK;
font-size: 180px;
font-weight: 700;
line-height: 243.11px;
text-align: left;

}

.home-title h1 {
  transform: scale(0.96);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  /* gap: 0.5em; */
  line-height: 1.2em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  justify-content: center;
  box-sizing: border-box;
}
.home-logo img {
  width: 80%;
  margin: auto 0px;
}

.home-footer {
  width: 100%;
  position: absolute;
  bottom: 0vh;
  height: 0vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0vw;
  margin: auto;
}

.home-socialmedia {
  /* width: 100%; */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2vw;
}

@media screen and (min-width: 320px) {
  .home-main-container {
    background: url('https://ik.imagekit.io/nrcvcirqj/assets/coming-soon/bg-forest-small.png') no-repeat center center;

    background-size: cover;
    height: 100vh;
  }

  .home-title {
    font-size: 3vh;
  }

  .home-footer {
    bottom: 7vh;
  }
}


@media screen and (min-width: 720px) {
  .home-main-container {
    background: url('https://ik.imagekit.io/nrcvcirqj/assets/coming-soon/bg-forest-med.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
  }

  .home-logo img {
    margin: auto 0;
    width: 100%;
  }

  .home-title {
    font-size: 1.8em;
  }

  .home-footer {
    width: 100%;
    position: absolute;
    bottom: 3vh;
    height: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5vw;
    margin: auto;
  }
}



@media screen and (min-width: 1280px) {
  .home-main-container {
    background: url('./assets/coming-soon/bg_image.png') no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
  }
  .home-logo img {
    margin: auto 0px;
    width: 100%;
  }

  .home-title {
    font-size: 3em;
  }
}



@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.home-title span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
  transform: scale(1, 1.2);
  text-shadow: 0 0px 2px, 0 0 1px, 0 0 0.1em #8f8e8f, 0 10px 3px #000;
  
}

.home-title span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-title span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.home-title span b{
  animation: blink linear infinite 2s;
}

.home-title span b:nth-child(1){
  animation: blink linear infinite 3s;
}

.home-title span b:nth-child(2){
  animation: blink linear infinite 2s;
}

@media screen and (max-width:425px){
  .home-title span {
    text-shadow: none;
  }
  .home-title span b{
    animation: none;
  }
  
  .home-title span b:nth-child(1){
    animation: none;
  }
  
  .home-title span b:nth-child(2){
    animation: none;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  /* 79%{
     color: #333;
  } */
  80% {
    text-shadow: none;
    /* color: transparent; */
    /* border:1px solid #ff00f5; */
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    /* color: #333; */
    text-shadow: none;
    /* color: transparent; */
    /* border:1px solid #ff00f5; */
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    /* color: #333; */
    text-shadow: none;
    /* color: transparent; */
    /* border:1px solid #ff00f5; */
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#leaves {
  position: absolute;
  top: -50px;
  width: 100%;
  text-align: right;
}

#leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: linear-gradient(to bottom right, #73236d, #1a0c24);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  /* box-shadow: inset 0px 0px 1px #222; */
  /* border: 1px solid #333; */
  z-index: 1;
  -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) {
  -webkit-animation: falling2 5s 0s infinite;
}
#leaves i:nth-of-type(3n) {
  -webkit-animation: falling3 5s 0s infinite;
}

#leaves i:before {
  position: absolute;
  content: "";
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  /* border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222; */
  background: linear-gradient(to right, #862f7c, #1a0c24);
  z-index: 1;
}

#leaves i:after {
  content: "";
  height: 125px;
  width: 10px;
  /* background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0)); */
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%;
}

#leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px;
}
#leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px;
}
#leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px;
}

#leaves i:nth-of-type(2n + 1) {
  height: 11px;
  width: 16px;
}
#leaves i:nth-of-type(2n + 1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px;
}
#leaves i:nth-of-type(2n + 1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px;
}

#leaves i:nth-of-type(3n + 2) {
  height: 17px;
  width: 23px;
}
#leaves i:nth-of-type(3n + 2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px;
}
#leaves i:nth-of-type(3n + 2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px;
}

#leaves i:nth-of-type(n) {
  -webkit-animation-delay: 1.9s;
}
#leaves i:nth-of-type(2n) {
  -webkit-animation-delay: 3.9s;
}
#leaves i:nth-of-type(3n) {
  -webkit-animation-delay: 2.3s;
}
#leaves i:nth-of-type(4n) {
  -webkit-animation-delay: 4.4s;
}
#leaves i:nth-of-type(5n) {
  -webkit-animation-delay: 5s;
}
#leaves i:nth-of-type(6n) {
  -webkit-animation-delay: 3.5s;
}
#leaves i:nth-of-type(7n) {
  -webkit-animation-delay: 2.8s;
}
#leaves i:nth-of-type(8n) {
  -webkit-animation-delay: 1.5s;
}
#leaves i:nth-of-type(9n) {
  -webkit-animation-delay: 3.3s;
}
#leaves i:nth-of-type(10n) {
  -webkit-animation-delay: 2.5s;
}
#leaves i:nth-of-type(11n) {
  -webkit-animation-delay: 1.2s;
}
#leaves i:nth-of-type(12n) {
  -webkit-animation-delay: 4.1s;
}
#leaves i:nth-of-type(13n) {
  -webkit-animation-delay: 1s;
}
#leaves i:nth-of-type(14n) {
  -webkit-animation-delay: 4.7s;
}
#leaves i:nth-of-type(15n) {
  -webkit-animation-delay: 3s;
}

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #862f7c, #1a0c24);
}
#leaves i:nth-of-type(2n + 2) {
  background: linear-gradient(to bottom right, #862f7c, #1a0c24);
}
#leaves i:nth-of-type(4n + 1) {
  background: linear-gradient(to bottom right, #73236d, #1a0c24);
}

/* #leaves i:nth-of-type(n)    { opacity: .7;} */
#leaves i:nth-of-type(3n + 1) {
  opacity: 0.7;
}
#leaves i:nth-of-type(3n + 2) {
  opacity: 0.5;
}

#leaves i:nth-of-type(n) {
  transform: rotate(180deg);
}

#leaves i:nth-of-type(n) {
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(300, 0, 0) rotate(0deg);
  }

  100% {
    -webkit-transform: translate3d(-350px, 700px, 0) rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-20deg);
  }

  100% {
    -webkit-transform: translate3d(-230px, 640px, 0) rotate(-70deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
  }

  100% {
    -webkit-transform: translate3d(-400px, 680px, 0) rotate(0deg);
    opacity: 0;
  }
}
